*{
    margin:2%;
}

.rowbar{
    display:flex; 
    height:50px;
}

ul.rowbar{
    background-color:blueviolet;
    list-style-type:none;
    border-radius:30px;
    position:sticky;
    z-index: 1;
    top:1px;
    outline:76px solid purple;
}

ul>li{
    padding-left:20px; 
    padding-right:20px; 
    border-right:2px solid black; 
    border-left:2px solid black; 
    margin:0%; 
    text-align: center; 
    margin-top:auto;
    margin-bottom: auto;
    margin-left:auto;
    margin-right:auto;
}

ul>li>a{
    text-decoration-line:none; 
    color:yellow;
    font-family:'Times New Roman', Times, serif;
}

ul>li.coolrowbar:hover{
    background-color: red;
    border-radius:30px;
    text-shadow:0 0 8px green, 0 0 16px purple;
}

a:active{
    background-color: white;
    border-radius:30px;
    text-shadow:0 0 8px green, 0 0 16px purple;
}

.griding{
    display:grid;
    grid-template-columns: 70% 30%;
}

.griding>p{
    margin:auto;
    text-align: center;
}

.griding>img{
    margin:auto;
    height:100px;
    width:100px;
}
